.Input-base {
  input {
    display: block;
    position: relative;
    float: left;
    height: 16px;
    width: 328px;
    padding: 11px 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    transition: .3s;
    outline: none;
  }
  &.is-focused {
    input {
      border-color: #488ee7;
    }
  }
  &.error {
    input {
      border-color: #fc4343;
    }
    .tips-wrapper {
      span {
        height: 15px;
        line-height: 15px;
        display: block;
        color: #fc4343;
        text-indent: 20px;
        background: url("../../assets/img/err_small.png") 0 0 no-repeat;
      }
    }
  }
  &.required {
    input {
      //border-color: yellow;
    }
  }
  &.async-loading {
    border-color: transparent;
  }
}