.Select {
  font-size: 12px;
  .Select-control {
    border-radius: 0;
    height: 30px;
    .Select-value, .Select-placeholder {
      line-height: 30px;
    }
  }
  .Select-input {
    height: 30px;
  }
}